<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet"
	media="screen">
<link href="{{ STATIC_URL }}jgrowl/jquery.jgrowl.css" rel="stylesheet"
	media="screen">
	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<title>{% block title %}{% endblock %}</title>
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div id="chat">
				<ul>
				</ul>
			</div>
			<div class="row">
				<div class="span12">
					<ul class="nav nav-pills">
						<li><a href="/">MyDrinkStats@julfoi</a></li>
						<li><a href="/profile/">{{user.username}}</a></li>
						<li><a href="/member/register">Register</a></li>
						<li><a href="/member/logout/">Logout</a></li>
						<li><a href="/drinks/">All drinks</a></li>
						<li><a href="/mydrinks/">My drinks</a></li>
					</ul>
				</div>
			</div>
			<div class="span12">{% block content %} {% endblock %}</div>
		</div>
	</div>
	
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}jgrowl/jquery.jgrowl.js"></script>
	<script src="{{ STATIC_URL }}jquery_plugins/jquery.cookie.js"></script>
</body>
</html>
